@import "~bootstrap/dist/css/bootstrap.min.css";
@import url("https://fonts.googleapis.com/css?family=Just+Another+Hand");

html, body {
    font-size: 16px;
    color: white;
    background: purple;
}