:host {
   background: red;
}
.input-container {
    position: relative;
}

.search-btn {
    position: absolute;
    top: 0;
    right: 15px;
    border: none;
    display: inline-block;
    width: 40px;
    height: 37px;
    text-align: center;
    line-height: 20px;
    color: black;
    padding-top: 8px;
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
    border-left: 2px solid black;
    cursor: pointer;
    transition: all 1s ease;
    &:hover {
        color: white;
        background: black;
    }
}